<soc-sidebar selected-person="selectedPerson"
             persons="people"
             select="selectPerson(person)"
             download="downloadPersons()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form class="soc-form btn-left vertical"
                      #searchForm="ngForm"
                      novalidate>
                    <div>
                        <label for="name"
                               i18n="Searchfield name">Name</label>
                        <div>
                            <input type="text"
                                   focus-on="name"
                                   class="form-control"
                                   id="name"
                                   name="name"
                                   #name="ngModel"
                                   required
                                   [(ngModel)]="searchModel.name"
                                   placeholder="{{'Name Placeholder' | i18n}}">
                        </div>
                        <div *ngIf="(name.dirty || name.touched) && name.errors"
                             class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div>
                        <label for="firstName"
                               i18n="Searchfield firstname">First name</label>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   id="firstName"
                                   name="firstName"
                                   [(ngModel)]="searchModel.firstName"
                                   placeholder="{{'First name Placeholder' | i18n}}">
                        </div>
                    </div>

                    <button type="submit"
                            class="btn-default collapse-on-search"
                            (click)="search()"
                            [disabled]="!searchForm.form.valid"
w                            i18n="Button search form">Search
                        </button>



                </form>
            </div>
        </div>
    </div>
</soc-sidebar>