<soc-sidebar selected-person="selectedPerson"
             persons="people"
             select="selectPerson(person)"
             download="downloadPersons()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{people | async}}</h1>
                <form class="soc-form btn-left vertical"
                      #searchForm="ngForm"
                      novalidate>
                    <div>
                        <label for="federation"
                               i18n="Searchfield name">Federation</label>
                        <div>
                            <input type="number"
                                   focus-on="federation"
                                   class="form-control"
                                   id="federation"
                                   name="federation"
                                   #federation="ngModel"
                                   required
                                   [(ngModel)]="searchModel.federation"
                                   placeholder="{{'Federation Placeholder' | i18n}}">
                        </div>
                    </div>


                    <div>
                        <label for="membernr"
                               i18n="Searchfield name">Member nr</label>
                        <div>
                            <input type="number"
                                   focus-on="membernr"
                                   class="form-control"
                                   id="membernr"
                                   name="membernr"
                                   #membernr="ngModel"
                                   required
                                   [(ngModel)]="searchModel.memberNr"
                                   placeholder="{{'Membernr Placeholder' | i18n}}">
                        </div>
                    </div>

                    <button type="submit"
                            class="btn-default collapse-on-search"
                            (click)="search()"
                            [disabled]="!searchForm.form.valid"
                            i18n="Button search form">Search
                    </button>



                </form>
            </div>
        </div>
    </div>
</soc-sidebar>