<div class="soc-panel"
[ngClass]="{'collapsed': collapsed}">
    <div class="soc-collapser"
         
         *ngIf="collapsable"
         (click)="toggle()">
        <i class="fa fa-ellipsis-h fa-lg"
           aria-hidden="true"></i>
    </div>

    <div class="soc-title">{{paneltitle | translate}}</div>

    <div class="soc-content">
        <!--Loader-->
        <div *ngIf="loading;else panelContent">
            <mat-progress-bar mode="indeterminate">
            </mat-progress-bar>
        </div>

        <!--Actual content -->
        <ng-template #panelContent>
            <ng-content></ng-content>
        </ng-template>
    </div>
</div>