<div class="soc-stepper-header-container">
    <ng-container *ngFor="let step of steps; let i = index; let isLast = last">
        <soc-step-header (click)="step.select()"
                         [index]="i"
                         [label]="selectedIndex === i ? step.activeTitle : step.title"
                         [valid]="step.valid"
                         [selected]="selectedIndex === i">
        </soc-step-header>
    </ng-container>
</div>

<div *ngFor="let step of steps; let i = index"
     [hidden]="i != selectedIndex">
    <ng-container [ngTemplateOutlet]="step.content"></ng-container>
</div>
