//Defualt palettes: https://material.io/guidelines/style/color.html#color-color-palette
// define 3 theme color

// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-blue-grey);
$my-theme-accent: mat-palette($mat-indigo);
$my-theme-warn: mat-palette($mat-brown);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$soc-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);