<div class="container-fluid">
    <ng-container *ngIf="hasData();then content else notfound"></ng-container>

    <ng-template #notfound>
        <div class="soc-not-found">
            {{'RETURNS_NO_DATA_FOUND' | translate }}<small>{{'RETURNS_NO_DATA_FOUND_SUBTITLE' |translate }}</small>
        </div>
    </ng-template>

    <ng-template #content>
        <div class="row">

            <!-- Title -->
            <div class="col-sm-12">
                <div class="page-header">
                    <h1 translate>VSB Returns</h1>
                </div>
            </div>

            <div class="col-sm-12">
                <soc-stepper (changed)="stepChanged($event)"
                             [(current)]="currentStep">
                    <soc-step title="{{'step 1 short title' | translate}}"
                              activeTitle="{{'step 1 title' | translate}}"
                              [valid]="checkStep(0)">
                        <step-registration [returnItem]="returnItem"></step-registration>
                    </soc-step>

                    <soc-step title="{{'Returns step 2 short title' | translate}}"
                              activeTitle="{{'Returns step 2 title' | translate}}"
                              [valid]="checkStep(1)">
                        <step-registration-calculation [returnItem]="returnItem"></step-registration-calculation>
                    </soc-step>

                    <soc-step title="{{'Returns step 3 short title' | translate}}"
                              activeTitle="{{'Returns step 3 title' | translate}}"
                              [valid]="checkStep(2)">
                        <step-proposition [returnItem]="returnItem"
                                          (nextStep)="setNextStep($event)"></step-proposition>
                    </soc-step>

                    <soc-step title="{{'Returns step 4 short title' | translate}}"
                              activeTitle="{{'Returns step 4 title' | translate}}"
                              [valid]="checkStep(3)">
                        <step-status-overview [returnItem]="returnItem"></step-status-overview>
                    </soc-step>
                </soc-stepper>

            </div>
        </div>
    </ng-template>
</div>