<div class="container-fluid">
    <ng-container *ngIf="hasData();then content else notfound"></ng-container>

    <ng-template #notfound>
        <div class="soc-not-found"
             translate>THAB No data found</div>
    </ng-template>

    <ng-template #content>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1 translate>THAB</h1>
                </div>
            </div>


            <div class="col-sm-12">

                <!-- Certificates -->
                <soc-panel paneltitle="THAB_ADMISSIONS_LEGEND"
                           collapsable="true"
                           [loading]="personDetailsLoading || loading"
                           type="bar">

                    <popover-content #certificatePopoverTemplate>
                        <div *ngIf="certificateNotification | async; let notification; else loadingNotification">
                            <p style="color:red">{{notification.nextStep}}</p>
                            <p *ngFor="let note of notification.notifications">
                                {{note.receivedDate | date: ('COMMON_DATEFORMAT' | translate)}}: {{note.message}}
                            </p>
                        </div>
                        <ng-template #loadingNotification>
                            <mat-spinner></mat-spinner>
                        </ng-template>
                    </popover-content>

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-sm-12">
                                <h4>{{'THAB_ADMISSIONS' | translate}}</h4>

                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_ID</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_MIGRATED</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_INITIALDATE</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_START</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_END</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_STATE</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_DECISIONDATE</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_ADMISSION_TERMINATED_REASON</th>
                                                <th translate>THAB_ADMISSIONS_COLUMN_FILE_ADMINISTRATOR_REMARK</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cert of certificates"
                                                (click)="selectCertificate(cert)">
                                                <td>{{cert.certificateId}}</td>
                                                <td>
                                                    <i *ngIf="cert.isMigrated"
                                                       class="fa fa-check-square-o"
                                                       aria-hidden="true"></i>
                                                    <i *ngIf="!cert.isMigrated"
                                                       class="fa fa-square-o"
                                                       aria-hidden="true"></i>
                                                </td>
                                                <td>{{cert.referenceDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{cert.beginDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{cert.endDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td (mouseenter)="setCertificatePopover(cert)"
                                                    [popover]="certificatePopoverTemplate"
                                                    [popoverOnHover]="true"
                                                    [popoverAnimation]="true">
                                                    {{cert.state}}
                                                </td>
                                                <td>{{cert.decisionDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{cert.terminationReason}}</td>
                                                <td>
                                                    <textarea matInput
                                                              style="border: 1px solid lightgray"
                                                              placeholder="{{'Remark' | translate}}"
                                                              [(ngModel)]="cert.remark"></textarea>
                                                    <button title="{{'THAB_ADMISSIONS_COLUMN_FILE_ADMINISTRATOR_SAVE' | translate}} "
                                                            (click)="saveThabRemark(cert)"
                                                            *ngIf="cert.remark !== cert.initialRemark"
                                                            class="btn btn-default">
                                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <h4>{{ 'THAB_PAYABLEAMOUNT' |translate}}</h4>
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>THAB_PAYABLEAMOUNT_COLUMN_ID</th>
                                                <th translate>THAB_PAYABLEAMOUNT_COLUMN_START</th>
                                                <th translate>THAB_PAYABLEAMOUNT_COLUMN_END</th>
                                                <th translate>THAB_PAYABLEAMOUNT_COLUMN_AMOUNT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let amount of payableAmounts | async">
                                                <td>{{amount.certificateId}}</td>
                                                <td>{{amount.start | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{amount.end | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{amount.amount}} EUR</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </soc-panel>



                <!-- Payments -->
                <soc-panel paneltitle="THAB_ADMISSION_PAYMENTS_LEGEND"
                           collapsable="true"
                           [loading]="personDetailsLoading || (payments && !(payments|async))"
                           type="bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>THAB_ADMISSION_PAYMENTS_COLUMN_ID</th>
                                                <th translate>THAB_ADMISSION_PAYMENTS_COLUMN_STARTDATE</th>
                                                <th translate>THAB_ADMISSION_PAYMENTS_COLUMN_ENDDATE</th>
                                                <th translate>THAB_ADMISSION_PAYMENTS_COLUMN_AMOUNT</th>
                                                <th translate>THAB_ADMISSION_PAYMENTS_COLUMN_LASTPAYMENTDATE</th>
                                                <th translate>THAB_ADMISSION_PAYMENTS_COLUMN_ACCOUNTNUMBER</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let paym of payments | async">
                                                <td>{{paym.certificateId}}</td>
                                                <td>{{paym.beginDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{paym.endDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{paym.amount}} {{paym.currency}}</td>
                                                <td>{{paym.sendDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{paym.accountNb}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </soc-panel>


                <!-- Letters -->
                <soc-panel paneltitle="THAB_LETTERS_LEGEND"
                           collapsable="true"
                           [loading]="personDetailsLoading || loading"
                           type="bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <span translate>THAB_DOCUMENTS</span><br />
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>THAB_DOCUMENTS_COLUMN_ID</th>
                                                <th translate>THAB_DOCUMENTS_COLUMN_DOWNLOAD</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cert of certificates">
                                                <td>{{cert.certificateId}}</td>
                                                <td><a [hidden]="cert.calculationBasicRightDocument == null || cert.calculationBasicRightDocument.UniqueId == '' "
                                                       (click)="downloadThabCalculationDocument(cert)"
                                                       class="fa fa-file notunderlinedlink btn btn-default"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>THAB_LETTERS_COLUMN_DATE</th>
                                                <th translate>THAB_LETTERS_COLUMN_ID</th>
                                                <th translate>THAB_LETTERS_COLUMN_TYPE</th>
                                                <th translate>THAB_LETTERS_COLUMN_DOWNLOAD</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let letter of letters">
                                                <td>{{letter.letterDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{letter.certificateId}}</td>
                                                <td>{{letter.type}}</td>
                                                <td *ngIf="letter.type !== extraInfoLetterType && letter.url && letter.url != null">
                                                    <a target="_blank"
                                                       [hidden]="letter.url == ''"
                                                       [href]="letter.url"
                                                       class="fa fa-file notunderlinedlink btn btn-default"></a>
                                                </td>
                                                <td *ngIf="letter.type === extraInfoLetterType">
                                                    <a (click)="downloadThabForm(letter)"
                                                       href="#"
                                                       class="fa fa-file notunderlinedlink btn btn-default"></a>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </soc-panel>

            </div>
        </div>
    </ng-template>
</div>
