<div class="container-fluid">
    <ng-container *ngIf="hasData();then content else notfound"></ng-container>

    <ng-template #notfound>
        <div class="soc-not-found"
             translate>ZVZ No data found</div>
    </ng-template>

    <ng-template #content>
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1 translate>ZVZ Full</h1>
                </div>
            </div>

            <div class="col-sm-12">

                <!-- Certificates -->
                <soc-panel paneltitle="ZVZ Warranties"
                           collapsable="true"
                           [loading]="warrantiesLoading"
                           type="bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_CAREFORM</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_REQUESTDATE</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_STARTDATE</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_ENDDATE</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_STATUS</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_DECISIONDATE</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_CERTIFICATE</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_SCALE</th>
                                                <th translate>ZVZ_WARRANTIES_COLUMN_REFUSALREASON</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let warranty of warranties"
                                                (click)="selectWarranty(warranty)"
                                                [ngClass]="{'active':warranty == selectedWarranty}">
                                                <td>{{warranty.careForm}}</td>
                                                <td>{{warranty.requestDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{warranty.startDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{warranty.endDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{warranty.state}}</td>
                                                <td>{{warranty.decisionDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{warranty.certificate}}</td>
                                                <td>{{warranty.scale}}</td>
                                                <td>{{warranty.refusalReason}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </soc-panel>


                <!-- Payments -->
                <soc-panel paneltitle="ZVZ_WARRANTY_PAYMENTS_LEGEND"
                           *ngIf="showPayments()"
                           collapsable="true"
                           [loading]="payments && !(payments|async)"
                           type="bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>ZVZ_WARRANTY_PAYMENTS_COLUMN_STARTDATE</th>
                                                <th translate>ZVZ_WARRANTY_PAYMENTS_COLUMN_ENDDATE</th>
                                                <th translate>ZVZ_WARRANTY_PAYMENTS_COLUMN_AMOUNT</th>
                                                <th translate>ZVZ_WARRANTY_PAYMENTS_COLUMN_PAYMENTDATE</th>
                                                <th translate>ZVZ_WARRANTY_PAYMENTS_COLUMN_ACCOUNTNUMBER</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let paym of payments | async">
                                                <td>{{paym.beginDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{paym.endDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{paym.amount}} {{paym.currency}}</td>
                                                <td>{{paym.sendDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{paym.accountNb}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </soc-panel>


                <!-- Letters -->
                <soc-panel paneltitle="ZVZ_DECISION_LETTERS_LEGEND"
                           collapsable="true"
                           [loading]="!(letters|async)"
                           type="bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="soc-table striped secondary">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th translate>ZVZ_DECISION_LETTERS_COLUMN_DATE</th>
                                                <th translate>ZVZ_DECISION_LETTERS_COLUMN_TYPE</th>
                                                <th translate>ZVZ_DECISION_LETTERS_COLUMN_DOWNLOAD</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let letter of letters | async">
                                                <td>{{letter.letterDate | date: ('COMMON_DATEFORMAT' | translate)}}</td>
                                                <td>{{letter.type}}</td>
                                                <td><a target="_blank"
                                                       *ngIf="letter.url"
                                                       href="{{letter.url != '' ? letter.url : '#'}}"
                                                       class="fa fa-file notunderlinedlink btn btn-default"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </soc-panel>

            </div>
        </div>
    </ng-template>
</div>