<div class="soc-main"
     [ngClass]="{'has-actionbar' : getActive(contentTab.Returns) }">

    <!-- tabheader -->
    <div class="soc-header fixed"
         *ngIf="person">
        <div>
            <span class="soc-header-right" *ngIf="person.locality">{{person.locality}}</span>
            <span class="soc-header-title">
                    <span class="soc-typography-name">{{person.name}} </span> {{person.firstName}}
            <i *ngIf="person.sex === genderTypeModel.Male"
               class="fa fa-mars"
               aria-hidden="true"></i>
            <i *ngIf="person.sex === genderTypeModel.FeMale"
               class="fa fa-venus"
               aria-hidden="true"></i>
            </span>
        </div>
        <div>
            <span>{{person.insz}}</span>
            <span class="soc-header-right" *ngIf="!person.memberNumber">{{person.federationNumber}}</span>
            <span class="soc-header-right" *ngIf="person.memberNumber">{{person.federationNumber}}/{{person.memberNumber}}</span>
        </div>
    </div>

    <!-- tabheader if no person -->
    <div class="soc-header fixed"
         *ngIf="!person">
        <div class="soc-header-title">{{'VSB_HEADER_NOTHING_SELECTED' | translate}}</div>
        <div>&nbsp;</div>
    </div>

    <div class="soc-main-content">

        <div class="soc-tabs top follow-header">
            <ul class="nav nav-tabs">
                <li [ngClass]="{'active': getActive(contentTab.Summary)}">
                    <a (click)="setView(contentTab.Summary)" translate>VSB_TAB_HEADING_SUMMARY</a>
                </li>
                <li [ngClass]="{'active': getActive(contentTab.Zorgverzekering)}">
                    <a (click)="setView(contentTab.Zorgverzekering)" translate>VSB_TAB_HEADING_ZVZ</a>
                </li>
                <li [ngClass]="{'active': getActive(contentTab.Bob)}">
                    <a (click)="setView(contentTab.Bob)" translate>VSB_TAB_HEADING_BOB</a>
                </li>
                <li [ngClass]="{'active': getActive(contentTab.Thab)}">
                    <a (click)="setView(contentTab.Thab)" translate>VSB_TAB_HEADING_THAB</a>
                </li>
                <li [ngClass]="{'active': getActive(contentTab.Attachments)}">
                    <a (click)="setView(contentTab.Attachments)" translate>VSB_ATTACHMENTS_TITLE</a>
                </li>
                
                <!-- <li [ngClass]="{'active': getActive(contentTab.Returns)}">
                    <a (click)="setView(contentTab.Returns)" translate>VSB_TAB_HEADING_RETURNS</a>
                </li> -->
            </ul>
            <div class="tab-content">
                <div id="tab_summary"
                     class="tab-pane"
                     [ngClass]="{'active': getActive(contentTab.Summary)}">
                    <content-summary></content-summary>
                </div>
                <div id="tab_zvz"
                     class="tab-pane"
                     [ngClass]="{'active': getActive(contentTab.Zorgverzekering)}">
                     <content-zvz></content-zvz>
                </div>
                <div id="tab_bob"
                     class="tab-pane"
                     [ngClass]="{'active': getActive(contentTab.Bob)}">
                     <content-bob></content-bob>
                </div>
                <div id="tab_thab"
                     class="tab-pane"
                     [ngClass]="{'active': getActive(contentTab.Thab)}">
                     <content-thab></content-thab>
                </div>
                <div id="tab_thab"
                     class="tab-pane"
                     [ngClass]="{'active': getActive(contentTab.Attachments)}">
                    <!-- <content-attachment person="person" /> -->
                </div>
<!--                 
                <div id="tab_returns"
                     class="tab-pane"
                     [ngClass]="{'active': getActive(contentTab.Returns)}">
                    <content-returns person="person"
                                     vsb-info="vsbInfo" />
                </div> -->
            </div>
        </div>
    </div>
</div>