<soc-sidebar [people]="people | async"
             (socSelect)="selectPerson($event)"
             [loading]="people && !(people | async)"
             (socDownload)="downloadPersons()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <mat-form-field>
                    <input matInput
                           [(ngModel)]="searchModel.name"
                           [formControl]="name"
                           (keydown.enter)="search()"
                           type="text"
                           placeholder="{{'Name Placeholder' | translate}}">
                    <mat-error *ngIf="name.invalid">{{'Name is required' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput
                           type="text"
                           [(ngModel)]="searchModel.firstName"
                           (keydown.enter)="search()"
                           placeholder="{{'FirstName Placeholder' | translate}}">
                </mat-form-field>

                <button mat-raised-button
                        class="btn-default collapse-on-search"
                        (click)="search()"
                        [disabled]="name.invalid">{{'Search' | translate}}</button>

            </div>
        </div>
    </div>
</soc-sidebar>