<soc-sidebar [people]="people | async"
             (select)="selectPerson(person)"
             (download)="downloadPersons()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p i18n>State Search By Area</p>

                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.ZVZ">{{'ZVZ' | i18n}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.BOB">{{'BOB' | i18n}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.THAB">{{'THAB' | i18n}}</mat-checkbox>
                </section>

                <br/>
                <p i18n>State Search By State</p>

                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.StateInitiated">{{'Initiated' | i18n}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.StateConfirmed">{{'Confirmed' | i18n}}</mat-checkbox>
                    <div *ngIf="searchModel.StateConfirmed">
                        <mat-form-field>
                            <input matInput
                                   [matDatepicker]="stateConfirmedPicker"
                                   [(ngModel)]="searchModel.stateConfirmedDate"
                                   placeholder="Choose a date">

                            <mat-datepicker-toggle matSuffix
                                                   [for]="stateConfirmedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #stateConfirmedPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.StateRejected">{{'Rejected' | i18n}}</mat-checkbox>
                    <div *ngIf="searchModel.StateRejected">
                        <mat-form-field>
                            <input matInput
                                   [matDatepicker]="stateConfirmedPicker"
                                   [(ngModel)]="searchModel.stateConfirmedDate"
                                   placeholder="Choose a date">

                            <mat-datepicker-toggle matSuffix
                                                   [for]="stateConfirmedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #stateConfirmedPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>


                <br/>

                <p i18n>State Search By Federation</p>

                <ng-container *ngIf="environment==300">
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="300"
                                          i18n>all</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="304">304</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="309">309</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="311">311</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="322">322</mat-radio-button>
                    </section>

                </ng-container>

                <ng-container *ngIf="environment==400">

                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="400"
                                          i18n>all</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="401">401</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="403">403</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="404">404</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="407">407</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="415">415</mat-radio-button>
                    </section>
                    <section class="example-section">
                        <mat-radio-button [(ngModel)]="searchModel.federation"
                                          value="417">417</mat-radio-button>
                    </section>
                </ng-container>
                <p i18n="Optional search information before search button at state search">VSB_SEARCHBYSTATE_INFO</p>
                <button mat-raised-button
                        class="btn-default collapse-on-search"
                        (click)="search()"
                        [disabled]="isSearchDisabled()">{{'Search' | i18n}}</button>

            </div>
        </div>
    </div>
</soc-sidebar>