<soc-sidebar [people]="people | async"
             (socSelect)="selectPerson($event)"
             (socDownload)="downloadPersons()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p translate>State Search By Area</p>

                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.ZVZ">{{'ZVZ' | translate}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.BOB">{{'BOB' | translate}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.THAB">{{'THAB' | translate}}</mat-checkbox>
                </section>

                <br/>
                <p translate>State Search By State</p>

                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.StateInitiated">{{'Initiated' | translate}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.StateConfirmed">{{'Confirmed' | translate}}</mat-checkbox>
                    <div *ngIf="searchModel.StateConfirmed">
                        <mat-form-field>
                            <input matInput
                                   [matDatepicker]="stateConfirmedPicker"
                                   [(ngModel)]="searchModel.StateConfirmedDate"
                                   placeholder="Choose a date">

                            <mat-datepicker-toggle matSuffix
                                                   [for]="stateConfirmedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #stateConfirmedPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.StateRejected">{{'Rejected' | translate}}</mat-checkbox>
                    <div *ngIf="searchModel.StateRejected">
                        <mat-form-field>
                            <input matInput
                                   [matDatepicker]="stateConfirmedPicker"
                                   [(ngModel)]="searchModel.StateConfirmedDate"
                                   placeholder="Choose a date">

                            <mat-datepicker-toggle matSuffix
                                                   [for]="stateConfirmedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #stateConfirmedPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>


                <br/>

                <p translate>State Search By Federation</p>

                <ng-container *ngIf="environment==300">
                    <mat-radio-group style="display: inline-flex; flex-direction:column"
                                     [(ngModel)]="searchModel.Federation">
                        <mat-radio-button value="300">{{'all' | translate}}</mat-radio-button>
                        <mat-radio-button value="304">{{'304' | translate}}</mat-radio-button>
                        <mat-radio-button value="309">{{'309' | translate}}</mat-radio-button>
                        <mat-radio-button value="311">{{'311' | translate}}</mat-radio-button>
                        <mat-radio-button value="322">{{'322' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </ng-container>

                <ng-container *ngIf="environment==400">
                    <mat-radio-group style="display: inline-flex; flex-direction:column"
                                     [(ngModel)]="searchModel.Federation">
                        <mat-radio-button value="400">{{'400' | translate}}</mat-radio-button>
                        <mat-radio-button value="401">{{'401' | translate}}</mat-radio-button>
                        <mat-radio-button value="403">{{'403' | translate}}</mat-radio-button>
                        <mat-radio-button value="404">{{'404' | translate}}</mat-radio-button>
                        <mat-radio-button value="407">{{'407' | translate}}</mat-radio-button>
                        <mat-radio-button value="415">{{'415' | translate}}</mat-radio-button>
                        <mat-radio-button value="417">{{'417' | translate}}</mat-radio-button>
                    </mat-radio-group>
                </ng-container>


                <p translate="Optional search information before search button at state search">VSB_SEARCHBYSTATE_INFO</p>
                <button mat-raised-button
                        class="btn-default collapse-on-search"
                        (click)="search()"
                        [disabled]="isSearchDisabled()">{{'Search' | translate}}</button>

            </div>
        </div>
    </div>
</soc-sidebar>