<soc-sidebar [people]="peopleList"
             (socSelect)="selectPerson($event)"
             (bottomScroll)="loadMore()"
             [loading]="peopleLoading"
             (socDownload)="downloadPersons()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <ng-container *ngIf="environment==300">
                    <mat-form-field>
                        <mat-select placeholder="{{'Federation' | translate}}"
                                    [(ngModel)]="searchModel.federation">
                            <mat-option [value]="300">{{'all' | translate}}</mat-option>
                            <mat-option [value]="304">304</mat-option>
                            <mat-option [value]="309">309</mat-option>
                            <mat-option [value]="311">311</mat-option>
                            <mat-option [value]="322">322</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

                <ng-container *ngIf="environment==400">
                    <mat-form-field>
                        <mat-select placeholder="{{'Federation' | translate}}"
                                    [(ngModel)]="searchModel.federation">
                            <mat-option [value]="400">{{'all' | translate}}</mat-option>
                            <mat-option [value]="401">401</mat-option>
                            <mat-option [value]="403">403</mat-option>
                            <mat-option [value]="404">404</mat-option>
                            <mat-option [value]="407">407</mat-option>
                            <mat-option [value]="415">415</mat-option>
                            <mat-option [value]="417">417</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>


                <mat-form-field>
                    <mat-select placeholder="{{'State Search By Area' | translate}}"
                                [(ngModel)]="searchModel.pillar">
                        <mat-option value="ZVZ">{{'ZVZ' | translate}}</mat-option>
                        <mat-option value="BOB">{{'BOB' | translate}}</mat-option>
                        <mat-option value="THAB">{{'THAB' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <br/>
                <p translate>State Search By State</p>

                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.stateInitiated">{{'Initiated' | translate}}</mat-checkbox>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.stateCompleted">{{'Confirmed' | translate}}</mat-checkbox>
                    <div *ngIf="searchModel.stateCompleted">
                        <mat-form-field>
                            <input matInput
                                   [matDatepicker]="stateCompletedPicker"
                                   [(ngModel)]="stateCompletedDate"
                                   placeholder="{{'Choose a date' | translate}}">

                            <mat-datepicker-toggle matSuffix
                                                   [for]="stateCompletedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #stateCompletedPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="searchModel.stateRejected">{{'Rejected' | translate}}</mat-checkbox>
                    <div *ngIf="searchModel.stateRejected">
                        <mat-form-field>
                            <input matInput
                                   [matDatepicker]="stateRejectedPicker"
                                   [(ngModel)]="stateRejectedDate"
                                   placeholder="{{'Choose a date' | translate}}">

                            <mat-datepicker-toggle matSuffix
                                                   [for]="stateRejectedPicker"></mat-datepicker-toggle>
                            <mat-datepicker #stateRejectedPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </section>

                <br/>
                <!-- <p translate="Optional search information before search button at state search">VSB_SEARCHBYSTATE_INFO</p> -->
                <span matTooltip="{{'VSB_SEARCHBYSTATE_INFO' | translate}}"
                      [matTooltipDisabled]="!isSearchDisabled()"
                      matTooltipPosition="right">
                    <button mat-raised-button
                        class="btn-default collapse-on-search"
                        (click)="search()"
                        [disabled]="isSearchDisabled()">{{'Search' | translate}}</button>
                </span>
            </div>
        </div>
    </div>
</soc-sidebar>